/* You can add global styles to this file, and also import other style files */
:root {
    --primary: rgb(199, 79, 55);
    --secondary: rgb(210, 196, 78);
    --special: rgb(48, 61, 87);
    --light-dark: #38394F;
    --dark: #272B38;
    --light: #6F6B94;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: var(--light-dark);
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--light-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: 5px;
}